.btn {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    cursor: pointer;
}
.btn_red {
    background-color: #ff2929;
    color: #ffffff;
    border-radius: 3px;
    padding: 14px 19px;
}
.btn_white {

}
.btn_grey {
    
}
.btn_dark-grey {

}