.bendraInformacija-page-container {
	width:950px;
	margin-right:auto;
	margin-left:auto;
}

.bendra-informacija {
	margin-top: 55px;
	h1 {
		font-family: 'Helvetica-bold';
		font-weight: normal;
		font-size: 35px;
		margin-bottom: 30px;
		padding-bottom: 30px;
		position: relative;
		color:#3b3b3b;
		text-align: center;
		&:after {
			position:absolute;
			bottom: 0;
			left: 47.5%;
			content: '';
			height: 3px;
			width: 5%;
			background-color: #3b3b3b;
		}
	}
}

.bendra-informacija-kontaktai-title {
	font-family: 'Helvetica-bold';
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.bendra-informacija-kontaktai {
	margin-top: 40px;
	p {
		font-size: 14px;
		font-family: 'Helvetica';
		font-weight: normal;
		color:#8f8f8f;
	}
}

.bendra-informacija-istorija {
	width: 910px;
	margin:0 auto;
	h1 {
		font-family: 'Helvetica-bold';
		font-weight: normal;
		font-size: 35px;
		text-align: center;
		margin-bottom: 30px;
		padding-bottom: 30px;
		position: relative;
		&:after {
			position:absolute;
			bottom: 0;
			left: 47.5%;
			content: '';
			height: 3px;
			width: 5%;
			background-color: #3b3b3b;
		}
	}
}

.bendra-informacija-istorija-content {
	margin-top:10px;
	p {
		text-align: justify;
		font-family: 'Helvetica';
		font-weight: normal;
		font-size: 15px;
		color: #7d7d7d;
		font-style: normal;
	}
}

.bendra-informacija-duk {
	margin-top: 100px;
	h1 {
		font-family: 'Helvetica-bold';
		font-weight: normal;
		font-size: 35px;
		text-align: center;
		margin-bottom: 30px;
		padding-bottom: 30px;
		position: relative;
		&:after {
			position:absolute;
			bottom: 0;
			left: 47.5%;
			content: '';
			height: 3px;
			width: 5%;
			background-color: #3b3b3b;
		}
	}
	p {
		text-align: justify;
		font-family: 'Helvetica';
		font-weight: normal;
		font-size: 15px;
		color: #7d7d7d;
		font-style: normal;
	}
}

/*SLICK*/

.bendra-informacija-istorija-slider .slick-next::before {
	content: '';
	width: 24px;
	height: 30px;
	background-image: url(../img/slider-arrow-right.png);
	display: inline-block;
}

.bendra-informacija-istorija-slider .slick-prev::before {
	content: '';
	width: 24px;
	height: 30px;
	background-image: url(../img/slider-arrow-left.png);
	display: inline-block;
}

.bendra-informacija-istorija-slider .slick-next, .bendra-informacija-istorija-slider .slick-prev {
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
}

.bendra-informacija-mobile-contacts {
	display: none;
	
}

.bendra-informacija-mobile-contacts-title {
	text-align: justify;
	font-family: 'Helvetica-bold';
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
}

.bendra-informacija-mobile-contacts-content {
	text-align: center;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: 14px;
	color: #8f8f8f;
	font-style: normal;
	margin-top: 20px;
}

/*MOBILE CSS*/

@media only screen and (max-width:1280px) {

}
@media only screen and (max-width:992px) {
	.bendra-informacija-istorija {
		width: 100%;
		margin:0 auto;
	}
	.bendra-informacija-mobile-contacts {
		display: block;
	}
	.bendraInformacija-page-container {
		width:100%;
		padding-right: 40px;
		padding-left: 40px;
	}
	.bendra-informacija {
		h1 {
			font-size: 60px;
			&:after {
				position:absolute;
				bottom: 0;
				left: 46%;
				content: '';
				height: 3px;
				width: 8%;
				background-color: #3b3b3b;
			}
		}
	}
}


@media only screen and (max-width:768px) {
	.bendraInformacija-page-container {
		width:100%;
		padding-right: 20px;
		padding-left: 20px;
	}
}
@media only screen and (max-width:480px) {
	.bendra-informacija {
		h1 {
			font-size: 30px;
		}
	}
	.bendra-informacija-istorija-content {
		margin-top: 30px;
	}
}

/*GOOGLE MAPS CSS*/

#map {
	margin-top: 40px;
	height: 500px;
	width: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#floating-panel {
	position: absolute;
	top: 50px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}
